POSTGRES_DB_NAME=postgres
POSTGRES_DB_USER=root
POSTGRES_DB_PSWD=changeme

KC_DB_NAME=keycloak
KC_DB_USER=admin
KC_DB_PSWD=changeme

GV_DB_NAME=gross_view
GV_DB_USER=gvadmin
GV_DB_PSWD=changeme

KEYCLOAK_ADMIN=root
KEYCLOAK_ADMIN_PASSWORD=changeme

N8N_DB_NAME=n8n
N8N_DB_USER=n8nadmin
N8N_DB_PSWD=changeme
N8N_ENCRYPTION_KEY=changeme
GENERIC_TIMEZONE=Europe/Kyiv

# Tailscale VPN
# https://login.tailscale.com/admin/keys
TS_AUTHKEY=tskey-auth-XXXXX